/* COLOR PALETTE -----------------------------

https: //coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500
--light-cornflower-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--tangerine: #fb8500ff;
 */

 /* GLOBAL STYLES
 ----------------------------- */
body {
    color: #023047ff;
    margin: 0px;
    padding: 0px;
}

img {
    width: 300px;
}


.content-wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    

}


 /* PROFILE
 ----------------------------- */
 header {
     background-color:#4066B8;
     color: #FFE4C1;
 }


  /* PROJECTS
 ----------------------------- */
 .projects {
    background-color: #CEF3FE;
}
.projects a {
    color: black; 
}

.projects .btn {
    color: #ffffff;
    background-color: #031a4a;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background-color: rgba(3, 26, 74, 80%);

}

  /* WORK EXPERIENCE
 ----------------------------- */
 .work-experience {
    background-color: #EB8F73; }
  /* EDUCATION
 ----------------------------- */
 /* .education {
     background-color: #219ebcff;
 } */

 /* CONTACT INFORMATION
 ----------------------------- */
 footer {
     background-color: #FFE4C1;
     color: #1F4C71;
 }